<body id="ipzh" style="box-sizing: border-box; margin: 0;">
    <table class="main-body"
        style="box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; height: 100%; background-color: rgb(234, 236, 237);"
        width="100%" height="100%" bgcolor="rgb(234, 236, 237)">
        <tbody style="box-sizing: border-box;">
            <tr class="row" style="box-sizing: border-box; vertical-align: top;" valign="top">
                <td class="main-body-cell" style="box-sizing: border-box;">
                    <table class="container" id="i0b7"
                        style="box-sizing: border-box; font-family: Helvetica, serif; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; height: 0px; width: 90%; max-width: 550px;"
                        width="90%" height="0">
                        <tbody style="box-sizing: border-box;">
                            <tr style="box-sizing: border-box;">
                                <td class="container-cell" id="iur7"
                                    style="box-sizing: border-box; vertical-align: top; font-size: medium; padding-bottom: 50px;"
                                    valign="top">
                                    <table class="c1766"
                                        style="box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; min-height: 20px;"
                                        width="100%">
                                        <tbody id="iymiq" style="box-sizing: border-box;">
                                            <tr id="in63d" style="box-sizing: border-box;">
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="{{domain}}">
                                        <img id="i1mo0f" src="{{domain}}/static/images/logo.jpg"
                                            style="box-sizing: border-box; color: black; width: 100%; border: 0 none black; padding: 10px 20% 10px 20%;"></a>
                                    <table id="ixck6"
                                        style="box-sizing: border-box; height: 120px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;"
                                        width="100%" height="120">
                                        <tbody id="i3i57" style="box-sizing: border-box;">
                                            <tr id="icd3e" style="box-sizing: border-box;">
                                                <td id="ieaki"
                                                    style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 10px 10px 10px 10px; background-color: #ffffff;"
                                                    valign="top" bgcolor="#ffffff">
                                                    <h1 class="heading" style="box-sizing: border-box;">Congratulations
                                                        <strong style="box-sizing: border-box;">{{firstName}}
                                                            {{lastName}}</strong>,
                                                    </h1>
                                                    <p class="paragraph"
                                                        style="box-sizing: border-box; text-align: justify;">You have
                                                        participated in {{contest}} with codeforces handle
                                                        <strong>'{{handle}}'</strong>.
                                                        Your Results are as follow -
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="iypxro"
                                        style="box-sizing: border-box; padding: 10px; text-align: center; font-weight: 900; background-color: #ffffff; margin: 10px 10px 10px 10px;">
                                        Ranks
                                    </div>
                                    <table id="iw50kp"
                                        style="box-sizing: border-box; height: 120px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;"
                                        width="100%" height="120">
                                        <tbody id="id3lpn" style="box-sizing: border-box;">
                                            <tr id="its0dl"
                                                style="box-sizing: border-box; padding: 10px 10px 10px 10px;">
                                                <td id="i56jz8"
                                                    style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 33.3333%; background-color: #ffffff;"
                                                    width="33.3333%" valign="top" bgcolor="#ffffff">
                                                    <div id="iw98ah"
                                                        style="box-sizing: border-box; padding: 10px; text-align: center; font-weight: 700; background-color: #1bffa5;">
                                                        Global
                                                        <br style="box-sizing: border-box;">
                                                    </div>
                                                    <blockquote class="quote"
                                                        style="box-sizing: border-box; font-style: italic; text-align: center; color: #6f777d; background-color: #ffffff;">
                                                        <b style="box-sizing: border-box;">{{globalRank}}
                                                        </b>
                                                    </blockquote>
                                                </td>
                                                {% if country %}
                                                <td id="iwvirq"
                                                    style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 33.3333%; background-color: #ffffff;"
                                                    width="33.3333%" valign="top" bgcolor="#ffffff">
                                                    <div id="i54t8q"
                                                        style="box-sizing: border-box; padding: 10px; text-align: center; font-weight: 700; background-color: #1bffa5;">
                                                        {{country}}
                                                    </div>
                                                    <blockquote title="" class="quote"
                                                        style="box-sizing: border-box; font-style: italic; text-align: center; color: #6f777d; background-color: #ffffff;">
                                                        <b style="box-sizing: border-box;">{{countryRank}}
                                                        </b>
                                                    </blockquote>
                                                </td>
                                                {% endif %}
                                                {% if organization %}
                                                <td id="ig888j"
                                                    style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 33.3333%; background-color: #ffffff;"
                                                    width="33.3333%" valign="top" bgcolor="#ffffff">
                                                    <div id="izwd7g"
                                                        style="box-sizing: border-box; padding: 10px; text-align: center; font-weight: 700; background-color: #1bffa5;">
                                                        {{organization}}
                                                    </div>
                                                    <blockquote class="quote"
                                                        style="box-sizing: border-box; font-style: italic; text-align: center; color: #6f777d; background-color: #ffffff;">
                                                        <b style="box-sizing: border-box;">{{organizationRank}}
                                                        </b>
                                                    </blockquote>
                                                </td>
                                                {% endif %}
                                                <td id="ijqt7i"
                                                    style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 33.3333%;"
                                                    width="33.3333%" valign="top">
                                                </td>
                                                <td id="i962jv"
                                                    style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 33.3333%;"
                                                    width="33.3333%" valign="top">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <blockquote class="quote"
                                        style="box-sizing: border-box; font-style: italic; text-align: center; color: #6f777d; background-color: #ffffff;">
                                        <span style="box-sizing: border-box; color: #e74c3c;"><strong
                                                style="box-sizing: border-box;">{{addMessage}}</strong></span>
                                    </blockquote>
                                    <div id="in81g"
                                        style="box-sizing: border-box; padding: 10px; text-align: center; font-weight: 700;">
                                        Popular Posts
                                    </div>
                                    {% for post in Popular_Posts %}
                                    <table class="list-item"
                                        style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;"
                                        width="100%">
                                        <tbody style="box-sizing: border-box;">
                                            <tr style="box-sizing: border-box;">
                                                <td class="list-item-cell"
                                                    style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"
                                                    bgcolor="rgb(255, 255, 255)">
                                                    <table class="list-item-content"
                                                        style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;"
                                                        width="100%" height="150">
                                                        <tbody style="box-sizing: border-box;">
                                                            <tr class="list-item-row" style="box-sizing: border-box;">
                                                                <td class="list-cell-left"
                                                                    style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"
                                                                    width="30%">
                                                                    <img src="{{domain}}{{ MEDIA_URL }}{{post.image}}"
                                                                        alt="Image" class="list-item-image"
                                                                        style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                                                </td>
                                                                <td class="list-cell-right"
                                                                    style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;"
                                                                    width="70%">
                                                                    <h1 class="card-title"
                                                                        style="box-sizing: border-box; font-size: 15px; font-weight: 700; color: rgb(68, 68, 68); text-align: justify;">
                                                                        <a
                                                                            href="{% url 'single_post' post.slug %}">{{post.title}}</a>
                                                                    </h1>
                                                                    <p class="card-text"
                                                                        style="box-sizing: border-box; font-size: 11px;">
                                                                        {{post.content|safe|truncatewords:20}}
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {% endfor %}
                                    <table class="footer"
                                        style="box-sizing: border-box; margin-top: 50px; color: rgb(152, 156, 165); text-align: center; font-size: 11px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;"
                                        align="center">
                                        <tbody style="box-sizing: border-box;">
                                            <tr style="box-sizing: border-box;">
                                                <td class="footer-cell" style="box-sizing: border-box;">
                                                    <div class="c2577"
                                                        style="box-sizing: border-box; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                                                        <p class="footer-info"
                                                            style="box-sizing: border-box; text-align: center;">You are
                                                            receiving this email because someone have submitted your
                                                            codeforces handle as well as your email in our website.
                                                            However if you are not the one who submited
                                                            this email, Then you can always
                                                            <br style="box-sizing: border-box;">
                                                            <a data-cke-saved-href="{{domain}}{% url 'codeforces:unSubscribeCF' unSubscribeId %}"
                                                                href="{{domain}}{% url 'codeforces:unSubscribeCF' unSubscribeId %}"
                                                                style="box-sizing: border-box;">Unsubscribe</a>
                                                        </p>
                                                    </div>
                                                    <div class="c2421"
                                                        style="box-sizing: border-box; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                                                        MADE BY
                                                        <a id="ienl36" data-gjs-type="link" draggable="true"
                                                            data-cke-saved-href="{{domain}}" href="{{domain}}"
                                                            class="link" style="box-sizing: border-box;">Moontasir
                                                            Mahmood</a>
                                                        <p id="id6nbn" data-gjs-type="text" draggable="true"
                                                            style="box-sizing: border-box;">
                                                            <br style="box-sizing: border-box;">
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>