<body style="box-sizing: border-box; margin: 0;">
    <table width="100%" height="100%" bgcolor="rgb(234, 236, 237)" class="main-body" id="itih"
        style="box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; height: 100%; background-color: rgb(234, 236, 237);">
        <tbody id="iqkb" style="box-sizing: border-box;">
            <tr valign="top" class="row" id="ig1k" style="box-sizing: border-box; vertical-align: top;">
                <td class="main-body-cell" id="i0pv" style="box-sizing: border-box;">
                    <table id="i0b7" width="90%" height="0" class="container"
                        style="box-sizing: border-box; font-family: Helvetica, serif; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; height: 0px; width: 90%; max-width: 550px;">
                        <tbody id="iwmk" style="box-sizing: border-box;">
                            <tr id="itln" style="box-sizing: border-box;">
                                <td id="iur7" valign="top" class="container-cell"
                                    style="box-sizing: border-box; vertical-align: top; font-size: medium; padding-bottom: 50px;">
                                    <table width="100%" class="c1766" id="ikix"
                                        style="box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; min-height: 20px;">
                                        <tbody id="iymiq" style="box-sizing: border-box;">
                                            <tr id="in63d" style="box-sizing: border-box;">
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="{{domain}}">
                                        <img id="i1mo0f" src="{{domain}}/static/images/logo.jpg"
                                            style="box-sizing: border-box; color: black; width: 100%; border: 0 none black; padding: 10px 20% 10px 20%;">
                                    </a>
                                    <table id="ixck6" width="100%" height="120"
                                        style="box-sizing: border-box; height: 120px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;">
                                        <tbody id="i3i57" style="box-sizing: border-box;">
                                            <tr id="icd3e" style="box-sizing: border-box;">
                                                <td id="ieaki" valign="top" bgcolor="#ffffff"
                                                    style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 10px 10px 20px 10px; background-color: #ffffff;">
                                                    <h1 class="heading" id="im8cu" style="box-sizing: border-box;">Email
                                                        Verification
                                                    </h1>
                                                    <p class="paragraph" id="il9oj"
                                                        style="box-sizing: border-box; text-align: justify;">Please
                                                        click the following button to verify your email address.
                                                        <br style="box-sizing: border-box;">
                                                    </p>
                                                    <table id="i8dgf"
                                                        style="box-sizing: border-box; width: 100%; margin: 10px 0 20px 0;"
                                                        width="100%">
                                                        <tbody id="iu38w" style="box-sizing: border-box;">
                                                            <tr id="ixjx7" style="box-sizing: border-box;">
                                                                <td class="divider"
                                                                    style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.1); height: 1px;"
                                                                    height="1" bgcolor="rgba(0, 0, 0, 0.1)">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <a href="{{domain}}{% url 'codeforces:confirmMail' uid %}"
                                                        class="button"
                                                        style="box-sizing: border-box; font-size: 12px; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; background-color: rgb(217, 131, 166); color: rgb(255, 255, 255); text-align: center; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; font-weight: 300; border-collapse: collapse; vertical-align: baseline; border: 0 solid black;">Verify
                                                        Email</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="center" class="footer" id="i7m5h"
                                        style="box-sizing: border-box; margin-top: 50px; color: rgb(152, 156, 165); text-align: center; font-size: 11px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;">
                                        <tbody id="i5mi5" style="box-sizing: border-box;">
                                            <tr id="inzgj" style="box-sizing: border-box;">
                                                <td class="footer-cell" id="i7bal" style="box-sizing: border-box;">
                                                    <div class="c2577" id="i8sbz"
                                                        style="box-sizing: border-box; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                                                        <p class="footer-info" id="ivlk3"
                                                            style="box-sizing: border-box; text-align: center;">You are
                                                            receiving this email because someone tried to register a
                                                            account in our website using this email
                                                            <br style="box-sizing: border-box;">
                                                        </p>
                                                    </div>
                                                    <div class="c2421" id="ibm1i"
                                                        style="box-sizing: border-box; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                                                        MADE BY
                                                        <a id="ienl36" draggable="true" data-cke-saved-href="{{domain}}"
                                                            href="{{domain}}" class="link"
                                                            style="color: rgb(217, 131, 166); box-sizing: border-box;">Moontasir
                                                            Mahmood</a>
                                                        <p id="id6nbn" draggable="true" style="box-sizing: border-box;">
                                                            <br id="iu99v" style="box-sizing: border-box;">
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>