{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Me {% endblock%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css'%}" />

{% endblock css %}



{% block content %}

<div class="section-top-border">
    <h3 class="mb-30 title_color">Codeforces Rank Email Notifier</h3>
    <div class="row">
        <div class="col-lg-12">
            <blockquote class="generic-blockquote">
                “After every contest we will send an email about your countrywise rank, university rank and Global Rank.
                To get your rank in your email please fill up the following form.
                Remember that we will not sent any email if your email account is not verified. after filling up the
                form please check your email inbox to get a verify link”
            </blockquote>
        </div>
    </div>
</div>

<div class="mt-10">
    <input id="first_name" type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'First Name'" required class="single-input">
</div>
<div class="mt-10">
    <input id="last_name" type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'Last Name'" required class="single-input">
</div>
<div class="mt-10">
    <input id="codeforces_handle" type="text" name="codeforces_handle" placeholder="Codeforces handle"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Codeforces handle'" required class="single-input">
</div>
<div class="mt-10">
    <input id="email_address" type="email" name="EMAIL" placeholder="Email address (Verification Required)"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address (Verification Required)'" required
        class="single-input">
</div>
<div class="mt-10 text-left">
    <button onclick="cfInfoSubmit()" type="submit" value="submit" class="btn submit_btn">Submit Your Info</button>
</div>


{% endblock content %}


{% block js %}

<!-- Nav Design -->
{% if navText %}
<script type="text/javascript">
    navText = "{{navText}}";
    a = $(".nav-item");
    for (var i = 0; i < a.length; i++) {
        for (var j = 0; j < a[i].childNodes.length; j++) {
            if (a[i].childNodes[j].text) {
                if (a[i].childNodes[j].text == navText)
                    a[i].classList.add("active");
            }
        }
    }
</script>
{% endif %}

<!-- form submit -->
<script type="text/javascript">
    const cfInfoSubmit = () => {
        $.ajax({
            type: "POST",
            url: "{% url 'codeforces:cfForm' %}",
            data: {
                first_name: String($('#first_name').val()),
                last_name: String($('#last_name').val()),
                codeforces_handle: String($('#codeforces_handle').val()),
                email_address: String($('#email_address').val()),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                dataType: "json",
            },

            success: function (data) {
                if (data.msg) {
                    alert(data.msg);
                }
                else {
                    if (data.success) {

                        alert(data.success);
                        location.reload();
                    }
                }
            },

            failure: function (data) {
                alert('Something is wrong... Check your internet connection');
            }
        });
    }
</script>

{% endblock %}